body {
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.62rem 1.75rem;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
}

.nav-logotitle {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 12%;
}

.nav-title {
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
  margin: 0;
  padding: 0 0.25rem;
}

.nav-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
}

.InputBoxes {
  display: flex;
  /* justify-content: space-between; */
  padding: 1rem 2rem;
  gap: 20vw;
  width: fit-content;
  margin: auto;
}

.inputfield {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

label {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1rem;
  margin-bottom: 0.3rem;
  align-self: flex-start;
}

input {
  padding: 0.5rem 0.65rem;
  width: 100%;
  border-radius: 4.912px;
  border: 0.819px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);
  box-shadow: 0px 0.819px 1.637px 0px rgba(0, 0, 0, 0.05);
  font-family: Karla;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline-style: solid;
  outline-width: 0.819px;
  outline-color: #a626d3;
}

.getMemeBtn {
  width: 60%;
  margin: auto;
  padding: 0.5rem;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: Karla;
}

.meme {
  position: relative;
}

.meme--img {
  width: 85%;
  border-radius: 0.125rem;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
